{% load i18n static %}



This is form 

<form method="post">
{% csrf_token %}
{{ form.as_p }}

<input type="submit" value="submit"/>
</form>
<img src="{{ profile.profile.get_picture }}" alt="abc">

<form enctype="multipart/form-data" method="post" action="{% url 'upload_picture' %}" id="picture-upload-form">
        {% csrf_token %}
        <input type="file" name="picture" style="display: none">
        <button type="button" class="btn btn-default" id="btn-upload-picture">{% trans 'Upload new picture' %}</button>
      </form>


